/* --- ГЛОБАЛЬНІ СТИЛІ --- */
body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

h2 {
    margin-top: 40px;
    color: #444;
    text-align: center;
}

/* Загальні стилі для всіх блоків */
.block {
    padding: 15px 25px;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: #333;
    border: 1px solid #000;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* --- КОНТЕЙНЕРИ --- */
.container-float, .container-flex {
    width: 900px;
    height: 350px;
    margin: 0 auto 40px auto;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
}


/* ======================================================= */
/* 1. FLOAT ВЕРСТКА                                        */
/* ======================================================= */

.container-float {
    display: block;
}

.container-float .top-row-wrapper {
    width: 880px;
    overflow: hidden;
}

/* 1.1 Лівий IMG-блок (Зелений) - 30% * 880px = 264px */
.container-float .img-left-float {
    float: left;
    width: 264px;
    background-color: #98fb98;
    height: 255px;
}

/* 1.2 Правий верхній контейнер - 70% * 880px = 616px */
.container-float .right-column-top {
    float: left;
    margin-left: 5px;
    width: 611px;
}

/* 1.3 Верхній TEXT (Блакитний) - Висота 50px */
.container-float .text-top-float {
    width: 100%;
    background-color: #add8e6;
    margin-bottom: 5px;
    height: 50px;
}

/* 1.4 Центральний TEXT (Жовтий) - Висота 200px (255 - 50 - 5) */
.container-float .text-center-float {
    width: 100%;
    background-color: #fafa32;
    height: 200px;
}

.container-float .bottom-strip-float {
    clear: both;
    width: 880px;
    height: 70px;
    margin-top: 5px;
}

.container-float .text-bottom-float {
    float: left;
    width: 660px;
    background-color: #f7e6c4;
    height: 100%;
    margin-right: 5px;
}

.container-float .img-right-float {
    float: right;
    background-color: #ee82ee;
    height: 100%;
    width: 215px; /* 220px - 5px margin = 215px */
}


/* ======================================================= */
/* 2. FLEXBOX ВЕРСТКА                                      */
/* ======================================================= */

.container-flex {
    display: flex;
    flex-direction: column;
    height: 330px;
    padding: 0;
}

.container-flex .top-row-flex {
    display: flex;
    flex: 0 0 255px;
    margin-bottom: 5px;
    gap: 5px;
}

/* 2.2 Ліва колонка (Зелений IMG) - 264px */
.container-flex .img-left-flex {
    flex: 0 0 264px;
    background-color: #98fb98;
    /* Висота розтягується автоматично */
}

/* 2.3 Права колонка (Контейнер для Блакитного та Жовтого) - 611px */
.container-flex .right-column-top-flex {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 611px;
}

.container-flex .text-top-flex {
    flex: 0 0 50px;
    background-color: #add8e6;
    margin-bottom: 5px;
}

.container-flex .text-center-flex {
    flex: 1;
    background-color: #fafa32;
}

.container-flex .bottom-strip-flex {
    display: flex;
    flex: 0 0 70px; /* Займає 70px висоти */
    gap: 5px;
}

.container-flex .text-bottom-flex {
    flex: 0 0 660px;
    background-color: #f7e6c4;
}

.container-flex .img-right-flex {
    flex: 1;
    background-color: #ee82ee;
}
